/* Kleur tussen een paar letters moet hetzelfde zijn als achtergrondkleur */
.cls-27 {
    fill: rgb(216, 216, 216);
}

body{
    background-color: rgb(216, 216, 216);
    font-family: sans-serif;
}

.container{
    margin: 24px;
    color: rgb(32, 32, 32);
}

.sensorTemp{
    margin-top: 56px;
}

svg{
    width: 8%;
}

.cls-1 {
    fill: #824091;
}

.cls-2 {
    fill: #8b4292;
}

.cls-3 {
    fill: #cf589c;
}

.cls-4 {
    fill: #e15f9f;
}

.cls-5 {
    fill: #934493;
}

.cls-6 {
    fill: #8e4393;
}

.cls-7 {
    fill: #9b4794;
}

.cls-8 {
    fill: #a34a96;
}

.cls-9 {
    fill: #af4d97;
}

.cls-10 {
    fill: #974593;
}

.cls-11 {
    fill: #b54f98;
}

.cls-12 {
    fill: #bf539a;
}

.cls-13 {
    fill: #b85098;
}

.cls-14 {
    fill: #c8569b;
}

.cls-15 {
    fill: #894393;
}

.cls-16 {
    fill: #d65c9e;
}

.cls-17 {
    fill: #b34f98;
}

.cls-18 {
    fill: #c5569b;
}

.cls-19 {
    fill: #da5f9f;
}

.cls-20 {
    fill: #a74a96;
}

.cls-21 {
    fill: #dd5d9e;
}

.cls-22 {
    fill: #bc5299;
}

.cls-23 {
    fill: #cc599c;
}

.cls-24 {
    fill: #de609f;
}

.cls-25 {
    fill: #854192;
}

.cls-26 {
    fill: #a14b96;
}

.cls-31 {
    fill: url(#Naamloos_verloop_9);
}

.cls-32 {
    fill: #fff;
}

.cls-33 {
    fill: #b84f98;
}

.cls-34 {
    fill: #9f4794;
}

.cls-35 {
    fill: #ae4b96;
}

.cls-36 {
    fill: #a24895;
}

.cls-37 {
    fill: #bc5199;
}

.cls-38 {
    fill: #a64995;
}

.cls-39 {
    fill: #a44995;
}

.cls-40 {
    fill: #ac4b96;
}

.cls-41 {
    fill: #b14d97;
}

.cls-42 {
    fill: #b64e98;
}

.cls-43 {
    fill: #a74995;
}

.cls-44 {
    fill: #a94a96;
}

.cls-45 {
    fill: #c1539a;
}

.cls-46 {
    fill: #c5559b;
}

.cls-47 {
    fill: #be5299;
}

.cls-48 {
    fill: #c2549a;
}

.cls-49 {
    fill: #a44a96;
}

.cls-50 {
    fill: #b54e98;
}

.cls-51 {
    fill: #a24a96;
}

.cls-52 {
    fill: #ba5299;
}

.cls-53 {
    fill: #be539a;
}

.cls-54 {
    fill: #a94b96;
}

.cls-55 {
    fill: #b45199;
}

.cls-56 {
    fill: #b04e97;
}

.cls-57 {
    fill: #ba539a;
}

.cls-58 {
    fill: #be549a;
}

.cls-59 {
    fill: #b45299;
}

.cls-60 {
    fill: #fdf9fc;
}

.cls-61 {
    fill: #fdfafd;
}
