.alleWaarden{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    padding-left: 0;
}

.metingen{
    border: 1px solid white;
    border-radius: 70px;
    padding: 24px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 32px 24px;
}


.waarde{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

p{
    margin: 0px !important; 

}

.metingen h2{
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 9%;
    padding-right: 5px;
}


.rain{
    width: 17%;
    padding-right: 8px;
}

@media (min-width: 992px) {
    .alleWaarden{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        padding-left: 0;
    }
    
    .metingen{
        border: 1px solid white;
        border-radius: 70px;
        padding: 24px;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 32px;
    }
    
    
    .waarde{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .metingen h2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    img{
        width: 9%;
        padding-right: 5px;
    }
    
    
    .rain{
        width: 17%;
        padding-right: 8px;
    }
    
}
