.st0{fill:#E35F9F;}
.st1{fill:url(#SVGID_1_);}
.st2{fill:#FFFFFF;}
.st3{fill:#B84F98;}
.st4{fill:#9F4794;}
.st5{fill:#AE4B96;}
.st6{fill:#A24895;}
.st7{fill:#BC5199;}
.st8{fill:#A64995;}
.st9{fill:#A44995;}
.st10{fill:#AC4B96;}
.st11{fill:#B14D97;}
.st12{fill:#B64E98;}
.st13{fill:#A74995;}
.st14{fill:#A94A96;}
.st15{fill:#C1539A;}
.st16{fill:#C5559B;}
.st17{fill:#BE5299;}
.st18{fill:#C2549A;}
.st19{fill:#A44A96;}
.st20{fill:#B54E98;}
.st21{fill:#A24A96;}
.st22{fill:#BA5299;}
.st23{fill:#BE539A;}
.st24{fill:#A94B96;}
.st25{fill:#B45199;}
.st26{fill:#B04E97;}
.st27{fill:#BA539A;}
.st28{fill:#BE549A;}
.st29{fill:#B45299;}
.st30{fill:#FDF9FC;}
.st31{fill:#FDFAFD;}